# created by virtualenv automatically
**/__pycache__/
*.o
*.e
*.out
job/
exp/
scale_generalization/
.vscode/


**/*.pyc
*.pyc


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
[user]
	name = taohan10200
	email = hantao10200@gmail.com
lib/__pycache__/__init__.cpython-310.pyc
lib/__pycache__/__init__.cpython-310.pyc
lib/core/__pycache__/cc_function.cpython-310.pyc
lib/core/__pycache__/Counter.cpython-310.pyc
lib/datasets/__pycache__/__init__.cpython-310.pyc
lib/datasets/__pycache__/base_dataset.cpython-310.pyc
lib/datasets/__pycache__/fdst.cpython-310.pyc
lib/datasets/__pycache__/jhu.cpython-310.pyc
lib/datasets/__pycache__/mtc.cpython-310.pyc
lib/datasets/__pycache__/nwpu.cpython-310.pyc
lib/datasets/__pycache__/qnrf.cpython-310.pyc
lib/datasets/__pycache__/shha.cpython-310.pyc
lib/datasets/__pycache__/shhb.cpython-310.pyc
lib/datasets/__pycache__/trancos.cpython-310.pyc
lib/datasets/__pycache__/urban_tree.cpython-310.pyc
lib/eval/__pycache__/__init__.cpython-310.pyc
lib/eval/__pycache__/eval_loc_count.cpython-310.pyc
lib/eval/__pycache__/utils.cpython-310.pyc
lib/models/__pycache__/__init__.cpython-310.pyc
lib/models/__pycache__/build_counter.cpython-310.pyc
lib/models/backbones/__pycache__/__init__.cpython-310.pyc
lib/models/backbones/__pycache__/backbone_selector.cpython-310.pyc
lib/models/backbones/hrnet/__pycache__/__init__.cpython-310.pyc
lib/models/backbones/hrnet/__pycache__/moc_backbone.cpython-310.pyc
lib/models/backbones/hrnet/__pycache__/seg_hrnet_cat.cpython-310.pyc
lib/models/backbones/hrnet/__pycache__/seg_hrnet_fpn.cpython-310.pyc
lib/models/backbones/hrnet/__pycache__/seg_hrnet_hloc.cpython-310.pyc
lib/models/backbones/maevit/__pycache__/vitdet.cpython-310.pyc
lib/models/backbones/modules/__pycache__/__init__.cpython-310.pyc
lib/models/backbones/modules/__pycache__/cnn_blocks.cpython-310.pyc
lib/models/backbones/modules/__pycache__/ffn_block.cpython-310.pyc
lib/models/backbones/modules/__pycache__/multihead_attention.cpython-310.pyc
lib/models/backbones/modules/__pycache__/multihead_isa_attention.cpython-310.pyc
lib/models/backbones/modules/__pycache__/multihead_isa_pool_attention.cpython-310.pyc
lib/models/backbones/modules/__pycache__/transformer_block.cpython-310.pyc
lib/models/backbones/vgg/__pycache__/vgg.cpython-310.pyc
lib/models/heads/__pycache__/__init__.cpython-310.pyc
lib/models/heads/__pycache__/base_head.cpython-310.pyc
lib/models/heads/__pycache__/counting_head.cpython-310.pyc
lib/models/layers/__pycache__/__init__.cpython-310.pyc
lib/models/layers/__pycache__/batch_norm.cpython-310.pyc
lib/models/layers/__pycache__/conv.cpython-310.pyc
lib/models/layers/__pycache__/shape_spec.cpython-310.pyc
lib/models/layers/__pycache__/wrappers.cpython-310.pyc
lib/utils/__pycache__/__init__.cpython-310.pyc
lib/utils/__pycache__/Gaussianlayer.cpython-310.pyc
lib/utils/__pycache__/logger.cpython-310.pyc
lib/utils/__pycache__/modelsummary.cpython-310.pyc
lib/utils/__pycache__/points_from_den.cpython-310.pyc
lib/utils/__pycache__/utils.cpython-310.pyc
tools/__pycache__/_init_paths.cpython-310.pyc
